@font-face {
  font-family: head;
  src: url(../fonts/GAImeri-Normal.otf);
}
@font-face {
  font-family: headhover;
  src: url(../fonts/GADara1981-Regular.otf);
}

header {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  background-color: #002c54;
  /* background-image: url(../images/mtavari.jpg);
  object-fit:fill; */
}
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto;
}
header nav ul li a {
  text-decoration: none;
  color: #fdf6f6;
  font-size: 20px;
  font-family: headhover;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.logo img {
  width: 50px;
  height: 50px;
}
.burgerdiv {
  display: none;
}
/*  */
.banner-image {
  background-color: #002c54;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  box-sizing: border-box;
  padding-left: 10%;
  /* background-image: url(../images/mtavari.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  overflow: hidden;
  display: block; 
}

/* .banner-image::before {
  content: "";
  display: flex;
  position: absolute;
  width: 100%;
  height: 90vh;
} */
}
.banner-image h2 {
  font-size: 70px;
  color: white;
  width: 14em;
  line-height: 1.5em;
  margin: 0 auto;
}
.whatwedo {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 150px;
}
.whatwedo h2 {
  font-size: 40px;
  color: rgb(23, 59, 105);
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
.whatwedo h2:after {
  content: "";
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  width: 100%;
  height: 0.3em;
  background-image: url(../images/whatwedo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 99.9%;
  margin-top: 0.275em;
}
.wesupport {
  font-size: 2.0625rem;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 600px
}
.wefight{
  font-size: 2.0625rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 60px;
}
/* 
/* .criminallaw::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  opacity: 0.70;
} */
/* .supports {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
}
.supports div {
  width: 350px;
  height: 250px;
  margin-bottom: 50px;
  background-color: red;
}
.supportstdiv1 {
  background-image: url(../images/law.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
.supportstdiv1 h2 {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 100px;
}
.supportstdiv1 p{
  color: white;
  font-size: 20px;
  width: 300px;
  margin-top: 100px;
}
.supportsdiv2 {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
.supportsdiv2 h2 {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 100px;
}
.supportsdiv2 p{
  color: white;
  font-size: 20px;
  width: 300px;
  margin-top: 100px;

} */

